<div class = "comments">
    {{#each this}}
    <section class = "comment text-center">
        <h5 class ="meta">
            Comment by {{user.username}} on {{format_date created_at}}
        </h5>
        <div class = "text">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>