<div class="card text-CENTER justify-content-center">
  <h2 class="card-header">Create Post</h2>
  <div class="card-body">
    <form class="post-form">
      <div>
        <label for="post-title">Title:</label>
        <input class="form-control" type="text" id="post-title" name="post-title" />
      </div>
      <div>
        <label for="post-content">Content:</label>
        <input class="form-control" type="text" id="post-content" name ="post-content" />
      </div>
      <div class="text-center">
        <button class="btn btn-primary " type="submit" id="new-post">Post</button>
      </div>
    </form>

      <script src="/javascript/create-post.js"></script>
