<section>
    <h1 class = "text-center">Your Posts</h1>
<ul>
  {{#each posts as |post|}}
  <p>
    {{> post-info post }}
  </p>
  {{/each}}
</ul>
<div class="text-center">

        <button class="btn btn-primary" type="submit"> <a href="/dashboard/create-post">Create Post</button>
        </div>
</section>